
/* globals ****
***************/
:root{
  --color1:#3E50A4;
  --color2:#8D8DB9;
  --color3:#F9F8FF;
  --color4:#F1F1E6;

}

a.active:before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color:#fff;
  z-index: 100;
}